<% include compenents/header %>

<% include compenents/menu %>

    <h1>Battle Dev de l'IUT de Nantes</h1>
    <p>Bienvenue à la Battle Dev de l'IUT de Nantes !</p>

<% include compenents/footer %>
<% include compenents/end %>