@import "compass/css3";

* {
  padding: 0;
  margin: 0;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.menu ul {
  display: flex;

  list-style-type: none;
}

.menu a {
  display: block;
  padding: 10px;
  
  line-height: 50px;
  color: black;

  text-decoration: none;
}

.menu a:hover {
  color: #00B7FF;
}

form {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 50%;
  margin: auto;
  padding: 10px;

  background-color: #00B7FF;
}

form input[type="submit"], label ~ label {
  margin-top: 20px;
}

.languages-menu ul {
  display: flex;
  flex-direction: row;

  justify-content: center;
  list-style-type: none;
}

.languages-menu li ~ li {
  margin-left: 25px;
}

.exercise {
  display: flex;
}

.wording {
  width: 25%;
}

.editor {
  width: 75%;
}