<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <% if (locals.css){ css.forEach((stylesheet) => { %><link rel="stylesheet" href="<%= stylesheet %>"><% });} %>
</head>