<body>
    <header>
        <nav class="menu">
            <ul>
                <li><a href="/index">Accueil</a></li>
                <li><a href="/exercises">Entraînements</a></li>
                <li><a href="/challenge">Compétition</a></li>
            </ul>
        </nav>

        <div class="account">
            <% if (locals.account) { %>
            <a><%= account %>
                <ul>
                    <li><a href="/accounts/index">Compte</a></li>
                    <li><a href="/accounts/disconnect">Déconnexion</a></li>
                </ul>
            </a>
            <% } else { %>
            <ul>
                <li><a href="/accounts/connect">Connexion</a></li>
                <li><a href="/accounts/add">Inscription</a></li>
            </ul>
            <% } %>
        </div>
    </header>