<% include ../compenents/header %>

<% include ../compenents/menu %>

	<form action="/accounts/add" method="post">
		<label for="login">Pseudo</label>
		<input type="text" name="login" id="login" value="<%= (locals.login ? login : '') %>" />

		<label for="email">Adresse mail</label>
		<input type="email" name="email" id="email" />

		<label for="password">Mot de passe</label>
		<input type="password" name="password" id="password" />

		<label for="confirmPassword">Confirmer mot de passe</label>
		<input type="password" name="confirmPassword" id="confirmPassword" />

		<input type="submit" value="S'inscrire" />
	</form>

<% include ../compenents/footer %>

<% include ../compenents/end %>