<% include ../compenents/header %>

<% include ../compenents/menu %>

	<form action="/accounts/connect" method="post">
		<label for="login">Pseudo</label>
		<input type="text" name="login" id="login" value="<%= (locals.login ? login : '') %>" />

		<label for="password">Mot de passe</label>
		<input type="password" name="password" id="password" />

		<input type="submit" value="Connexion" />
	</form>

<% include ../compenents/footer %>

<% include ../compenents/end %>