<% include ../compenents/header %>

<% include ../compenents/menu %>

	<% if (locals.login) { %>
	<p>ERREUR : Votre compte n'a pas été supprimé !</p>
	<a href="/index">Continuer</a>
	<% } else { %>
	<p>Votre compte a bien été supprimé !</p>
	<a href="/index">Continuer</a>
	<% } %>

<% include ../compenents/footer %>

<% include ../compenents/end %>