<% include ../compenents/header %>

<% include ../compenents/menu %>

	<% exercises.forEach((exercise) => { %>
	<a href="/exercises/<%= exercise.id %>"><%= exercise.name %></h2>
	<% }); %>
<% include ../compenents/footer %>

<% include ../compenents/end %>